<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="com.movle.basic.Person" >
        <property name="id" value="100"/>
        <property name="name" value="tongguosetterzhuru"/>
    </bean>

    <bean id="person4" class="com.movle.basic.Person">
        <property name="id" value="200"/>
        <property name="name">
            <value>jdkleixing</value>
        </property>
        <property name="emails">
            <list>
                <value>a@qq.com</value>
                <value>b@qq.com</value>
                <value>c@qq.com</value>
            </list>
        </property>
        <property name="tels">
            <set>
                <value>139111111</value>
                <value>133111111</value>
                <value>134111111</value>
            </set>
        </property>
        <property name="address">
            <list>
                <value>中关村</value>
                <value>天安门</value>
                <value>西单</value>
            </list>
        </property>
        <property name="qqs">
            <map>
                <entry key="movle" value="12891232"/>
                <entry>
                    <key><value>kai</value></key>
                    <value>83192329</value>
                </entry>
            </map>
        </property>

        <property name="p">
            <props>
                <prop key="key1">value1</prop>
                <prop key="key2">value2</prop>
            </props>
        </property>
    </bean>


    <bean id="userService" class="com.movle.basic.UserServiceImpl">
        <property name="userDao">
            <bean class="com.movle.basic.UserDaoImpl" />
        </property>
    </bean>

    <bean id="userDao" class="com.movle.basic.UserDaoImpl"/>

    <bean id="userService1" class="com.movle.basic.UserServiceImpl">
        <property name="userDao">
            <ref bean="userDao"/>
        </property>
    </bean>

</beans>