<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="person" class="com.movle.basic.Person" >
        <property name="id" value="100"/>
        <property name="name" value="tongguosetterzhuru"/>
    </bean>

    <bean id="person1" class="com.movle.basic.Person" >
        <property name="id">
            <value>200</value>
        </property>
        <property name="name">
            <value>jdkleixing</value>
        </property>
        <property name="emails">
            <list>
                <value>a@qq.com</value>
                <value>b@qq.com</value>
                <value>c@qq.com</value>
            </list>
        </property>
    </bean>

    <bean id="person2" class="com.movle.basic.Person">
        <property name="id">
            <value>200</value>
        </property>
        <property name="name">
            <value>jdkleixing</value>
        </property>
        <property name="emails">
            <list>
                <value>a@qq.com</value>
                <value>b@qq.com</value>
                <value>c@qq.com</value>
            </list>
        </property>
        <property name="tels">
            <set>
                <value>139111111</value>
                <value>133111111</value>
                <value>134111111</value>
            </set>
        </property>
    </bean>



</beans>